.xx {
  background-image: linear-gradient(0deg, #181818 60%, rgba(24, 24, 24, 0));
}
.spider {
  background-image: linear-gradient(0deg, white 60%, rgba(255, 255, 255, 0));
}
.fashion {
  background: url("../../../assets/home/fashion.avif");
  /* width: 100%; */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.united {
  background: url("../../../assets/home/united.avif");
  /* width: 100%; */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.preowned {
  background: url("../../../assets/home/pre-owned.avif");
  /* width: 100%; */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ordinary {
  background: url("../../../assets/home/ordinary.avif");
  /* width: 100%; */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hyper {
  background: url("../../../assets/home/hyper.avif");
  /* width: 100%; */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.models {
  background: url("../../../assets/home/models.avif");
  /* width: 100%; */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fashion:hover img {
  scale: 1.05;
  transition: 2s ease-in-out;
}
