<section
  class="w-full relative top-0 left-0 right-0 h-screen bg-[url(src/assets/home/hero-mobile.avif)] md:bg-[url(src/assets/home/hero.avif)] bg-center bg-cover bg-no-repeat"
>
  <div
    class="text-white text-center font-noto xx absolute left-0 right-0 bottom-0 h-[30%] flex flex-col items-center"
  >
    <h1 class="uppercase text-3xl md:text-4xl lg:text-5xl font-semibold">
      SF90 XX stradale
    </h1>
    <p class="uppercase text-lg mt-8 flex gap-2 items-center group">
      <a href="#" class=""> Discover more </a>
      <span class="py-1 px-3 rounded-full border-2 group-hover:border-red-500">
        >
      </span>
    </p>
  </div>
</section>
<section
  class="w-full min-h-screen bg-[url(src/assets/home/spider-mobile.avif)] md:bg-[url(src/assets/home/spider.avif)] bg-center bg-cover bg-no-repeat relative"
>
  <div
    class="text-black text-center font-noto absolute left-0 right-0 bottom-0 h-[30%] flex flex-col items-center spider"
  >
    <h1 class="uppercase text-3xl md:text-4xl lg:text-5xl font-semibold">
      SF90 XX spider
    </h1>
    <p class="uppercase text-lg mt-8 flex gap-2 items-center group">
      <a href="#" class=""> Discover more </a>
      <span class="py-1 px-3 rounded-full border-2 group-hover:border-red-500">
        >
      </span>
    </p>
  </div>
</section>
<section class="bg-white">
  <div class="flex flex-col md:flex-row">
    <div
      class="w-[500px] h-[300px] sm:w-[330px] sm:h-[460px] md:w-[465px] md:h-[460px] lg:w-[720px] lg:h-[650px] fashion"
    >
      <div class="text-white pt-[20%] sm:pt-[60%] pl-8 sm:text-center">
        <h3 class="font-semibold text-xl lg:text-2xl py-2">Collections</h3>
        <h2 class="uppercase font-semibold text-3xl">ss23 fashion show</h2>
        <p class="lg:text-lg">NEW arrivals</p>
        <p
          class="uppercase text-lg mt-8 flex gap-2 items-center group sm:text-sm sm:pl-[25%] md:pl-[30%] lg:pl-[40%] lg:text-lg"
        >
          <a href="#" class=""> Discover more </a>
          <span
            class="py-1 px-3 rounded-full border-2 group-hover:border-red-500"
          >
            >
          </span>
        </p>
      </div>
    </div>
    <div></div>
  </div>
  <div>2</div>
</section>
